.about {
  height: 100vh;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
  flex-wrap: wrap;
}

.about-first-heading {
  display: flex;
  width: 70vw;
  font-size: 4rem;
  justify-content: flex-start;
  align-items: flex-end;
  flex-wrap: wrap;
  gap: 2rem;
}

.about-first-content {
  align-self: flex-start;
  font-size: 1rem;
}

.about-first-logo {
  width: 40vw;
}

.second {
  height: 95vh;
  justify-content: start;
  flex-direction: column;
  gap: 3rem;
}

.about-second-heading {
  width: 70vw;
  font-size: 4rem;
}

.about-second-content {
  display: flex;
  gap: 4rem;
  font-size: 1.1rem;
}

.about-second-logo {
  width: 20%;
}
