.slider {
  position: relative;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-angle-left {
  position: absolute;
  top: 50%;
  left: 30%;
  font-size: 3rem;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.fa-angle-right {
  position: absolute;
  top: 50%;
  right: 30%;
  font-size: 3rem;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}
