.slider {
  position: relative;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.angle-left {
  background-image: url("../assets/arrow_left.png");
  position: absolute;
  height: 85px;
  width: 45px;
  top: 45%;
  background-size: cover;
  background-position: center center;
  left: 7%;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.angle-right {
  background-image: url("../assets/arrow_right.png");
  position: absolute;
  height: 85px;
  width: 45px;
  top: 45%;
  right: 7%;
  background-size: cover;
  background-position: center center;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}
