.navbar {
  position: relative;
  background: transparent;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  z-index: 99;

  transition: all 0.5s ease 0s;
  border-radius: 60px;
  margin-left: 10rem;
  margin-right: 10rem;
  top: 30px;
}

.navbar.active {
  height: 80px;
  position: sticky;
  background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%);
}

.navbar-logo {
  color: #fff;
  justify-self: start;
  margin-top: 10px;
  margin-left: 20px;
  cursor: pointer;
}

.logo {
  width: 140px;
  height: auto;
}

.fa-firstdraft {
  margin-left: 0.5rem;
  font-size: 1.6rem;
}

.nav-menu {
  display: flex;
  /* grid-template-columns: repeat(5, auto); */
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 70vw;
  justify-content: end;
  margin-right: 2rem;
}

.nav-item {
  display: flex;
  position: relative;
  align-items: center;
  height: 80px;
}

.nav-links {
  font-family: "dolce_vita_heavybold";
  color: rgb(0, 0, 0);
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.navbar.active .nav-links {
  color: white;
}

.menu_animation {
  width: 100%;
  position: absolute;
  height: 5px;
  bottom: 5px;
  z-index: 0;
  border-radius: 8px;
  transition: all 0.5s ease 0s;
}

.nav-links:hover + .menu_animation {
  bottom: 5px;

  background: #18ff9f;
  transition: all 0.5s ease 0s;
}

.fa-bars {
  color: #fff;
}

.nav-links-mobile {
  display: none;
}

.menu-icon {
  display: none;
}

@media screen and (max-width: 960px) {
  .fa-caret-down {
    display: none;
  }
  .NavbarItems {
    position: relative;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 100%;
    height: 90vh;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: #242222;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .nav-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .nav-links:hover {
    background-color: #1888ff;
    border-radius: 0;
  }

  .navbar-logo {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .fa-times {
    color: #fff;
    font-size: 2rem;
  }

  .nav-links-mobile {
    display: block;
    text-align: center;
    padding: 1.5rem;
    margin: 2rem auto;
    border-radius: 4px;
    width: 80%;
    background: #1888ff;
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
  }

  .nav-links-mobile:hover {
    background: #fff;
    color: #1888ff;
    transition: 250ms;
  }

  button {
    display: none;
  }
}
