@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
.panchiilco {
  font-family: "Noto Sans KR", sans-serif;
  text-align: center;
  font-weight: 900;
  font-size: 43px;
  letter-spacing: 24px;
  
}
.wakming {
  font-family: "Noto Sans KR", sans-serif;
  text-align: center;
  font-weight: 900;
  font-size: 43px;
  letter-spacing: 20px;
  
}
.sct {
  max-width: 1320px;
  margin:40px auto 150px auto;
}
.products {
  
  width: 25%;
  display: inline-block;
 
}
.productsimg {
  margin: 20px;
  width: 290px;
  transition: all 0.2s linear;
}
.productsimg:hover  {
  transform:  scale( 1.15 )
}